/*En-tête*/
header{
    background-color: #4e143b;
    color:#fff;
    padding:20px 0;
}


h1,h2,h3,h4,h5{
    font-family: 'Courier New', Courier, monospace;
    
}

*{
    box-sizing: content-box;
    font-family: Arial,sans-serif;
}

header .container{
    /*classe flexbox, qui contient des blocks et gère leur disposition. Elle contient un titre et un nav*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin:auto;
    padding:0 20px;
}

/*header + nav*/
header h1{
    font-size: 1.5em;
}

nav ul{
    display:flex;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;

}

nav ul li a:hover {
    text-decoration: underline;
}

.containerhero{

flex-wrap: wrap;
max-width: 100%;

}

.containerall{
    display:flex;
    max-width: 100%;

}

.hero{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    max-width: 100%;
    
    
}

.hero h2{
    font-size: 2em;
    margin-bottom: 10px;
}
.hero p{
    font-size: 1.2em;
    margin-bottom: 20px;
}


/*Fallait changer le max width !!!!!!!!!!!!!!!!!*/
.experiences-professionnelles {
    padding: 0px 20px;
    background-color: white;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    flex-wrap:wrap;
}

.education {
    padding: 0px 20px;
    background-color: white;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.compétences {
    padding: 0px 20px;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    max-width: 30%;
    flex-wrap:wrap;
    max-width: 300px;
}


.experiences-professionnelles h2, .education h2, .compétences h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    
}


.liste-experiences{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    
}

.description-experience{
    background-color: #bd7593;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}





.product-item h3{
    font-size: 1.5em;
    margin: 15px 0;
    text-align: justify;
}


footer{
    background-color: #bd7593;
    color:white;
    padding: 20px 0;
    margin-top: 40px;
}


footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;

}

footer ul li a:hover {
    text-decoration: underline;
}

@media(max-width:768px) {
    header .container{
        flex-direction: column;
        align-items: flex-start;
    }
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .product-item {
        width:45%;
    }

}

@media(max-width:480px) {
    header .container{
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        gap:15px;
        align-items: center;
    }

    .hero h2{
        font-size: 1.8rem;
    }

    .hero p{
        font-size: 0.9rem;
    }

    


}


aside{

    max-width: 100%;
    display: flex;
}

footer{
    background-color: #bd7593;
    color:white;
    padding: 20px 0;
    margin-top: 40px;
}

footer .container{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    max-width: 1200px;
    margin:auto;
    padding: 0 20px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;

}

footer ul li a:hover {
    text-decoration: underline;
}
