/*En-tête*/
header{
    background-color: #181818ad;
    color:#fff;
    padding:20px 0;
}

@font-face {
    font-family: 'LUCKY';
    src: url(./fonts/LUCKY\ TYPEWRITER.ttf);
    font-weight: normal;
    font-size: normal;

}

@font-face {
    font-family: 'Voltaire-Frangela';
    src: url(./fonts/Voltaire-Frangela.ttf);
    font-weight: normal;
    font-size: normal;
    
}

h3 {
    font-family: 'Voltaire_Frangela';
}
h1, h2{
    font-family: 'LUCKY';
    color: black;
    
}

h1{
    text-align: center;
    color: white;
}

*{
    box-sizing: content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
    
}

header .container{
    /*classe flexbox, qui contient des blocks et gère leur disposition. Elle contient un titre et un nav*/
    justify-content: space-between;
    align-items: center;
    padding:0 50px;
    display:flex;
}

/*header + nav*/
header h1{
    font-size: 3em;
}

 a{
    color:#fff;
    text-decoration: underline;
 }

 




.containerall{
    display:flex;
    max-width: 100%;
    justify-content: center;

}



/*Fallait changer le max width !!!!!!!!!!!!!!!!!*/
.experiences-professionnelles {
    padding: 0px 20px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    flex-wrap:wrap;
    
}

.education {
    padding: 0px 20px;;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.compétences {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    max-width: 30%;
    flex-wrap:wrap;
    max-width: 300px;
}


.experiences-professionnelles h2, .education h2, .compétences h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    
}


.liste-experiences{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    
    
}

.description-experience{
    background-color: hwb(0 16% 84% / 0.816);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.description-experience ul{
    list-style: none; 
}

hr { 
    border: none;
    height: 2px;
    background-color:#4b4b4b8b
}




footer{
    background-color: #bd7593;
    color:white;
    padding: 20px 0;
    margin-top: 40px;
}


footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;

}

footer ul li a:hover {
    text-decoration: underline;
}

@media(max-width:768px) {
    header .container{
        flex-direction: column;
        align-items: flex;
    }

.containerall {
    display: inline-block;
    justify-content: center;
      
}



aside{
    display: flex; 
    justify-content: center;
    
}
  
.avatar{
        display: none;
    }

}

@media(max-width:480px) {
    header .container{
        text-align: center;
    }
    .avatar{
        display: none;
    }

    .containerall{
        display: inline-block; 
        justify-content: center;
        
    }
    .avatar{
        display: none;
    }



}


footer{
    background-color: #181818ad;
    color:white;
    padding: 20px 0;
    margin-top: 40px;
}

footer .container{
    display: flex;
    justify-content:  center;
    align-items: center;
    max-width: 1200px;
    margin:auto;
    padding: 0 20px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;

}

footer ul li a:hover {
    text-decoration: underline;
}

body{
    background-image: url(./images/pexels-revac-film-s-photography-10400-325676.jpg);
    background-size: cover;
}

.avatar {
    width: 250px;
    border-radius: 100%;
    opacity: 0.9;
    
    
}